@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */

#cssmenu {
  padding: 0;
  border: 0;
  width: auto;
  margin-top: 30px;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
  background: #333333;
  border-bottom: 3px solid #ff8c00;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
}
#cssmenu ul ul {
  border-top: 4px solid #ff8c00;
  text-transform: none;
  min-width: 190px;
}
#cssmenu ul ul a {
  background: #333333;
  color: #ffffff;
  border: 1px solid #ff8c00;
  border-top: 0 none;
  line-height: 150%;
  padding: 18px 22px;
  font-size: 12px;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #ff8c00;
}
#cssmenu ul ul li:hover > a {
  background: #ff8c00;
  color: #ffffff;
  transition: .3s;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #ff8c00;
  -webkit-box-shadow: 0 1px 0 #ff8c00;
  box-shadow: 0 1px 0 #ff8c00;
}
#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #ff8c00;
  color: #ffffff;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 20px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}

#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

#cssmenu a {
  background: #333333;
  color: rgb(230, 220, 220);
  padding: 0 20px;
}

#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}

*{
  margin: 0px;
}
.divisao{
  margin-top: 20px ;
  margin-right: 190px;
  float: right;
  width:  410px;
  height: 720px;
  padding: 20px;
  font-family: 'open sans' ,sans-serif;
  margin-bottom: 20px;
}

.divisao h1{
  color: rgb(78, 77, 76);
}

#tamanho{
  margin-right: 15px;
}

.divisao h4{
  color:rgb(168, 173, 173);
}

.divisao h2{
  color: #ffb04f; 
  font-family: arial;
}

.divisao i{
  color: #ff8c00;
  text-decoration: none;
  float: right;
}
.as{
  font-size: 30px;
  color: #ff8c00;
  font-family: arial;
}

.as font{
  color:black;
}
.botao{
  font-family: arial;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding:11px;
  position: relative;
  cursor: pointer;
  display:inline-block;
  margin-right:40px;
  margin-left:10px;
  margin-top:30px;
  border-radius:2%;
  width: 270px;  
  height: 60px;
}

.botaocompra{
  margin-left:18%;
  background:#000;
  color:#fff;
  }

.botaocompra:hover{
background: #000000b3;
}

.detalhes{
  margin-top: 20px ;
  background-color: rgb(231, 231, 231);
  border: rgb(179, 177, 177) solid 0.04px;
  width:  400px;
  height: 150px;
  font-family: 'open sans' ,sans-serif;
}

.detalhes b{
 float: left;
 margin-left: 40px;
}

.imagem{
  margin-top: 20px ;
  margin-left:190px;
  float: left;
  width:  460px;
  height: 520px;
  padding: 20px;
  font-family: 'open sans' ,sans-serif;
}

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 320px;  	
  height: 480px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }

.vertical.flip-container { position: relative; }    	
.vertical .back { transform: rotateX(180deg); }    	
.vertical.flip-container .flipper {  		
  transform-origin: 100% 213.5px; /* metade da altura */
}    	
.vertical.flip-container:hover .flipper { transform: rotateX(-180deg); }

.prop img{
  margin-left: 190px;
  margin-top: 5px;
  margin-bottom: 20px;
}
header{
  height: 150px;
  width: 100%;
  background-color: rgba(143, 141, 134, 0.281);
}

.lo{
  margin-left:190px;
}

#divBusca{
  background-color:rgb(255, 255, 255);
  border:solid 2px rgb(245, 117, 12);
  border-radius:10px;
  width:500px;
  height:32px;
  margin-left: 700px;
  margin-top: -66px;
  
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
   outline: none;
}
 
#btnBusca{
  border:none;
  float:right;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background:rgb(238, 117, 4);
  margin-left: 200px;
}
 
#divBusca img{
  float:left;
}

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 0px;
  margin-top: 20px;
  
}

#myFooter .footer-copyright {
  background-color: #ff8c00;
  padding-top: 3px;
  padding-bottom: 3px;
}

#myFooter .row {
  margin-bottom: 30px;
  margin-right: 20px;
}

#myFooter .navbar-brand {
  margin-top: 5px;
  height: 15px;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: rgb(0, 0, 0);
}

#myFooter ul {
  list-style-type: none;
  padding-left: 100px;
  line-height: 1.7;
  text-align: justify;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a{
  font-size: 50px;
  color: #fff;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  padding-top: 30px;
  padding-bottom: 16px;
}

#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.3s;
}

.travel{
  display: inline-block;
}

#myFooter .btn {
  color: white;
  background-color: #ff8c00;
  border-radius: 20px;
  border: none;
  width: 10px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

.content-box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #0000008c;
  z-index: 9999;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  font-family: 'open sans' ,sans-serif;
  width: 300px;
  height: 320px;
  background: #fff;
  position: relative;
  border-radius: 5px;
  border: 1px solid silver;
  
}
.box span{
  position: relative;
  top: 30px;
  font-size: 20px;
}
.ipt1{
position: relative;
width: 100%;
margin-bottom: 30px;
top: 70px;
}.ipt2{
position: relative;
width: 100%;
margin-bottom: 50px;
top: 80px;
  }
.ipt1 input{
width: 70%;
padding: 10px;
outline: none;
border: none;
background: #ece3e3;
border-radius: 5px;
}
.ipt2 input[type="submit"]{
width: 75%;
padding: 10px;
outline: none;
border: none;
background: linear-gradient(to bottom, #de7e13, #a25e0b);
border-radius: 5px;
color: #fff;
cursor: pointer;
}
.close{
position: relative;
float: right;
margin-right: 5px;
}
.close a{
text-decoration: none;
color: silver;
}
.close a:hover{
color: red;
}

.fixado{
  transform-style: preserve-3d;    	
  position: relative;
}