#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
  background: #333333;
  border-bottom: 4px solid #ff8c00;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
}
#cssmenu ul ul {
  border-top: 4px solid #ff8c00;
  text-transform: none;
  min-width: 190px;
}
#cssmenu ul ul a {
  background: #333333;
  color: #ffffff;
  border: 1px solid #ff8c00;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #ff8c00;
}
#cssmenu ul ul li:hover > a {
  background: #ff8c00;
  color: #ffffff;
  transition: .3s;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #ff8c00;
  -webkit-box-shadow: 0 1px 0 #ff8c00;
  box-shadow: 0 1px 0 #ff8c00;
}
#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #ff8c00;
  color: #ffffff;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}

#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

#cssmenu a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}

#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
} h1{
float: center;
margin-left:15%;  
 }

 #anuncio img {
  height: 300px;
  width: 1100px;
}

.w3-content {
  padding-right: 0px;
}

.top img {
  height: 220px;
  width: 770px;
}

.top1 img {
  padding-right: 20px;
  height: 220px;
  width: 270px;
}

.bn img{
  transition: 0.3s;
} 

.bn img:hover {
  padding-top: 3px; 
  transform: scale(1.02);
  opacity: 0.8;
  transition: 0.3s;
} 
 
#rodape{
      text-align: center;
      color: black;
      background-color:#ff8c00;
      width:100%;
      height:200px;
      bottom:0;
      margin-left:0px;  
      margin-top: 20px;
	
      }

      .pt1 {
        width: 90%;
        text-align: none;
        border-bottom: 1px solid #000;
        display: inline-block;
      }

      .pt2 {
        text-align: center;
      }

      .pt3 {
        text-align: justify;
        padding-right: 25px; 
        display: inline-block;
      }

      .pt4 {
        font-weight: bold;
        font-size: 20px;
      }

      .pt5 {
        font-weight: bold;
      }
   .valores{
  margin-left: 50%; 
   }
   .imgcompra{
  float: left;
  width: 240px;
  height:290px;
  border: #000 solid 1.5px;
  margin-left: 5%;
  margin-right: 11px;
  padding: 10px;
  padding-bottom:13px;
  text-align: center;
  font-family: times new roman;
  font-size: 17px;
  text-indent: 0;
  line-height: 15px;
   }
   .btn-contato-enviar{
  width: 60px;
  height:22px;
  border:solid 0px;
  font-family:Calibri, Arial, sans-serif;
  color:#fff;
  font-weight:bold;
  margin-top:10px;
  background-color:#ff8c00;
  font-size:12px;
}

.btn-contato-reset{
  margin-left:210px;
  width: 60px;
  height:22px;
  font-family:Calibri, Arial, sans-serif;
  color:#fff;
  margin-top:10px;
  font-weight:bold;
  background-color:#ff8c00;
  border: solid 0px;
  font-size:12px;
}

 .bloco{
  display: inline-block;
 }

 .destaques{
  font-family: Rockwell ;
  text-align: center;
 }

.centro{
  margin-left: 1000px;
}

.contato{
  display: inline-block;
  margin: 70px;
  text-align: center;
}

.formula{
	font-family: Rockwell;
	display: inline-block;
}
.formulario{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:50px;
	padding-top:10px;
	width:550px;
  border-radius: 20%;
	padding-bottom:50px;
	margin-left: 60%;
  border:#ff8c00  solid 4.0px;
}

.formulario-texto{
	width:120px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	padding-right:10px;
	margin-bottom:8px;
	font-size:12px;
}

.formulario-campo{
	width:400px; 
	float:left;
	margin-bottom:8px;
}

.textfield-nome{
	width:300px;
}

.textfield-ddd{
	width:20px;
}

.textfield-telefone{
	width:100px;
}
 .botao-orange{
  margin-left: 60px;
  background:#ff8c00;
  color:#fff;
  box-shadow:0 10px 0 #ff4500;
  }
   .botao-orange:hover{
  color: black;
  box-shadow:0 10px 0 #ff4500;
  }
    .botao-orange:active{
  position:relative;
  top:10px;
  box-shadow:none;
}

.box-campo{
	width:400px; 
	float:left;
	padding-bottom:8px;
}
.image{
  margin-left: 30%;
}
.fruta{
  margin-left: 25%;
}